body {
    background-color: rgb(30, 116, 190);
}

h1 {
    color: white;
    margin: 10px;
    padding: 2px;
    
}
.vertical-line {
    width: 8px;
    border-left: 8px solid white; 
    height: 310px; 
    margin-top: 200;
    margin-left: 30; 
}

.container {
    position: absolute;
    width: auto;
    margin: 40;
    margin-top: 0;
    font-family: Arial, sans-serif;
    font-size: 35px;
}

.box {
    position: relative;
    background-color: aliceblue;
    margin: 200px; 
    margin-top: -330;
    padding: 25px;
    width: 400;
    border: 1px solid #ccc;
    border-radius: 10px;
 left: 40%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
}

.box input[type="submit"] {
    background-color: rgb(30, 116, 190);
    color: white;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background-color: #444e45;
}

.forgot-password {
    text-align: left;
    margin-bottom: 10px;
}
.forgot-password a {
    color: #6a6666; 
  
}

.signup {
    text-align: center;
    margin-top: 10px;
    color: #6a6666;
}

